
.products{
    display: flex;
    flex-wrap: wrap;   
    justify-content: center; 
    gap: 40px;
}

header{
    height: 20%;
    background-color: #710671;
    margin-bottom: 40px;
}


header > div{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: 1px solid white;
}

#searchInput{
    background:none;
    border: none;
    margin-left: 10px;
}

#searchInput::placeholder{
    color: white;
}

.menu{
    color: violet;
    padding: 10px;
}

.menu li:hover{
    color: rgb(48, 168, 242);
}

.products article{
    width: 300px;
    text-align: center;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 13px;
}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

ul li{
    padding: 10px;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card button{
    padding: 8px 20px;
}
