/* #710671 violet*/

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container > div{
    width: 450px;
    height: 60%;
    background-color: #ecdcfa54;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 10px;
}

.titleForm{
    margin: 20px auto;
    text-align: center;
}

input{
    background: #ffffff80;
    padding: 7px 14px;
    border: none;
    border-bottom: 1px solid violet;
    border-radius: 5px;
}
