.profile-side{
    background-color: rgb(66, 66, 66);
    color: white;
    width: 32%;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.profile-side div
{
    height: 200px;
    width: 200px;
}

.content{
    display: flex;
    flex: 1;
}

.details-profile{
    flex: 1;
    background-color: #fff3fc;
    padding: 30px;
}

img{
    border-radius: 50%;
}

.section{
    padding: 10px;
    border-bottom: 1px solid gray;
}